.SearchBar{
    margin-top: 10em;
    border-radius: 25px;
    width: 50%;
    /*padding-left: 30%;
    padding-right: 30%;*/
}

.search{
    border-radius: 25px;
    padding-left: 25px;
}

.maps{
    height: 500px;
    width: 100%;
}

.dmeo{
    border-radius: 25px;
}