.skill_pro{
  padding: 8px;
  border-radius: 20px;
  margin: 5px !important;
}

.skill-set{
  font-size: 18px;
}

.fa-envelope{
  margin-right: 1em;
  font-size: 18px;
}

.Role{
  margin-top: 1.5em;
  font-size: 18px;
}

.description{
  font-size: 18px;
}

.Email{
  font-size: 18px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.pro {
    font-family: sans-serif;
    text-align: center;
    color: #3c3939;
    padding: 0;
    position:relative;
    background-color: white;
  }
  
  .profile-card {
    width: 400px;
    height: 400px;
    margin: auto;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0, 0.5);
  }
  .image-container {
    position: relative;
  }
  .image {
    width: 50%;
  }
  
  .info {
    color: #4b4fe2;
    margin-right: 16px;
  }
  .main-container {
    padding: 0px;
  }
  .linked{
      padding-left: 125px;
  }
  .title {
    position: relative;
  }
  