.login-clean {
    background: #e8e8e8;
    padding: 80px 0;
  }
  
  .login-clean form {
    max-width: 320px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .login-clean .illustration {
    margin-top: -25%;
    text-align: center;
    padding-left: 0px;
    font-size: 100px;
    color: rgb(244,71,107);
  }
  
  .illustration img{
      /*margin-left: -15%;
      margin-top: -50%;*/
      max-width: 100%;
      max-height: 100%;
  }
  
  .login-clean form .form-control {
    background: #e8e8e8;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 8px;
    height: 42px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  
  .login-clean form .btn-primary {
    background: #ff914d;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: none;
    width: 100%;
    outline: none !important;
  }
  
  .linkedIn{
    margin-top: 20px;
  }
  
  .btn-linkedin {
    background: #0E76A8;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    width: 100%;
  }
  
  .btn-linkedin i{
    border-right: 1px solid #fff;
    padding-right: 30px;
    padding-left: 5px;
    margin-right: 10px;
  }
  
  .btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
  }
  
  .btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
    text-decoration: none;
  }  
  
  p.forgot{
    margin-top: 10px;
    font-size: 18px !important; 
  }
  
  .login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
    background: #ff914d;
  }
  
  .login-clean form .btn-primary:active {
    transform: translateY(1px);
  }
  
  .btn-primary{
    color: #fff;
  }
  
  .login-clean form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }
  
  .login-clean form .forgot:hover, .login-clean form .forgot:active {
    opacity: 1;
    text-decoration: none;
  }
  
  